<h1>Hello World</h1>
<form action="/change_result">
  <div class="form-group">
    <label for="coin_combo">Enter your change please. DO IT!!</label>
    <input id="coin_slot" name="coin_slot" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
